<div class="container">





<div class="row">
  <div class="col-md-8">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Particular</th>
          <th>Total</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><%= @invoice.description %></td>
          <td><%= number_to_currency(@invoice.amount) %></td>
        </tr>
      </tbody>
    </table>

    <p><b>Due Date: <%= @invoice.due_date.strftime("%b %-d, %Y") %></b></p>

    <ul>
      <li><p>Interest of 10% per annum will be levied on overdue account.</p></li>
      <li><p>If you want to pay by cash or cheque, please complete the payment advice below, detached and post it to the address provided.</p></li>
      <li><p>Online Payment is preferred - pay us using your debit/credit card through your Resident Portal.</p></li>
      <li><p>No signature is required for Computer Generated Bill.</p></li> 
    </ul>

    <div class="payment-advice">
      <div class="col-md-6">
        <h2>Payment Advice</h2>
        <p>REGENCY PARK PHASE 1</p>

        <div class="address-box">
          <p>Hse no.7, Lorong Palas 2E, Taman Jindo Phase 7, 88300 Kota Kinabalu, Sabah</p>
        </div>
      <%= link_to 'Edit', edit_invoice_path(@invoice) %> |
    <%= link_to 'Back', invoices_path %>
      </div>

      <div class="col-md-6">
        <p>Hello World</p>
      </div>
    </div>

    
  
  </div>
    <div class="col-md-4">
    
    </div>
  </div>

</div>

