<%= simple_form_for(@bulletin) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :post_to, label: 'Post to', prompt: 'Select Property', collection: @bulletin.select_property, input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.input :subject_title, placeholder: 'Enter Your Subject Here', input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.input :content, input_html: { class: 'tinymce' } %>
  </div>

  <div class="form-group">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>

<%= tinymce %>