<div class="col-md-6 col-md-offset-3 panel panel-default">
  <div class="panel-body">
  	<h2>Create an Accounts</h2>

  	<%= simple_form_for resource, :as => resource_name,
  								  :url => invitation_path(resource_name),
  								  :html => { :method => :put } do |f| %>
      <%= f.input :invitation_token, as: :hidden %>
      
    <div class="form-group">
      <%= f.input :name, input_html: { class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= f.input :password, input_html: { class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= f.input :password_confirmation, input_html: { class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= f.button :submit, "Create Account", class: 'btn btn-primary' %>
    </div>

    <% end %>
  </div>
</div>
